<select class="number-filter-value-start placeholdered input input-select" title="From">
	<option value="" selected class="hidden">From</option>
	<option value=""></option>
</select
><select class="number-filter-value-end placeholdered input input-select" title="To">
	<option value="" selected class="hidden">To</option>
	<option value=""></option>
</select>