<select class="number-filter-value-start placeholdered">
	<option value="" selected class="hidden">From</option>
	<option value=""></option>
</select
><select class="number-filter-value-end placeholdered">
	<option value="" selected class="hidden">To</option>
	<option value=""></option>
</select>