<select class="number-filter-pre">
	<% if(reverse) { %>
		<option value="1"><%= isDate ? 'Older' : 'More'%> than</option>
		<option value="-1"><%= isDate ? 'Newer' : 'Less'%> than</option>
	<% } else { %>
		<option value="-1"><%= isDate ? 'Newer' : 'Less'%> than</option>
		<option value="1"><%= isDate ? 'Older' : 'More'%> than</option>
	<% } %>
</select>
<select class="number-filter-value">
  <option></option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>