<select class="number-filter-value-start placeholdered input input-select" title='Min'>
	<option value="" selected class="hidden">Min</option>
	<option value=""></option>
</select
><select class="number-filter-value-end placeholdered input input-select" title='Max'>
	<option value="" selected class="hidden">Max</option>
	<option value=""></option>
</select>