<select class="number-filter-value-start placeholdered" title='Min'>
	<option value="" selected class="hidden">Min</option>
	<option value=""></option>
</select
><select class="number-filter-value-end placeholdered" title='Max'>
	<option value="" selected class="hidden">Max</option>
	<option value=""></option>
</select>