<!-- <select class="number-filter-pre">
	<% if(reverse) { %>
		<option value="1"><%= isDate ? 'Older' : 'More'%> than</option>
		<option value="-1"><%= isDate ? 'Newer' : 'Less'%> than</option>
	<% } else { %>
		<option value="-1"><%= isDate ? 'Newer' : 'Less'%> than</option>
		<option value="1"><%= isDate ? 'Older' : 'More'%> than</option>
	<% } %>
</select> -->
<select class="number-filter-value-start">
	<option value="" selected class="hidden">Min</option>
	<option value=""></option>
</select
><select class="number-filter-value-end">
	<option value="" selected class="hidden">Max</option>
	<option value=""></option>
</select>