$backgroundColor: #252525
$fontColor: #cccccc
$tableColor: #212121
$inputFontColor: #212121
$fontFamily: Calibri, Verdana, Arial, Helvetica, sans-serif

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background-color: $backgroundColor
	color: $fontColor
	font-family: $fontFamily

a
	color: #4b6a99
	text-decoration: none
	&:visited
		color: #6A4B99

.hidden
	display: none

.header
	height: 75px
	text-align: center
	font-size: 55px


.table
	margin: auto
	min-width: 90%
	background-color: $tableColor
	white-space: nowrap
	border-collapse: collapse

	td, th, &
		border: solid 1px darken($tableColor, 3%)

	tbody tr:nth-of-type(odd)
		background-color: darken($tableColor, 2%)

	td
		padding: 5px 8px

	th
		padding: 12px 16px
		cursor: pointer
		&:after
			// content: ' ▲'
			display: inline-block
			margin-bottom: -3px
			margin-left: 5px
			vertical-align: bottom
			-webkit-transform: scaleY(0.5)


		&.ascending:after
			content: ' ▲'

		&.descending:after
			content: ' ▼'