@import "bourbon/bourbon"

$primaryColor: #E6E6E6 // White
$secondaryColor: #252525 // Black
$terciaryColor: #679FAD // Blue

$backgroundColor: $secondaryColor
$fontColor: #222
$tableColor: $primaryColor
$tableHeaderColor: $terciaryColor
$inputFontColor: #212121
$headerColor: rgba(71, 161, 204, .2)
$fontFamily: Calibri, Verdana, Arial, Helvetica, sans-serif
$invertedFontColor: #ccc

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: $backgroundColor
  background-image: url(asset_path('pattern.png'))
  color: $fontColor
  font-family: $fontFamily

a
  color: #406192
  text-decoration: none
  &:visited
    color: #7A53B6

.hidden
  display: none

.strike
  text-decoration: line-through
  color: lighten($fontColor, 50%)

.backflip
  +transition(transform 0.5s)
  +backface-visibility(hidden)

.backflip-front
  +transform(perspective(200px) rotateX(0deg))

.backflip-back
  +transform(perspective(200px) rotateX(180deg))

.backflip-container:hover
  .backflip-front
    +transform(perspective(200px) rotateX(180deg))

  .backflip-back
    +transform(perspective(200px) rotateX(360deg))


.header
  height: 80px
  margin-bottom: 20px
  text-align: center
  color: $invertedFontColor
  //background-color: $headerColor
  .logo
    display: inline-block
    width: 493px
    height: 50px
    margin-top: 5px
    background: url(asset_path('logo.png'))
    text-indent: -9999px

  .subtitle
    font-size: 16px

  .donate
    position: absolute
    top: 0px
    left: 0px
    white-space: nowrap
    text-align: left
    line-height: 1.5
    height: 66px
    width: 66px
    &:hover
      width: 550px
    .donate-front
      position: absolute
      top: 0px
      left: 0px
      width: 150px
      height: 66px
      background: grey
    .donate-back
      position: absolute
      top: 0px
      left: 0px
      width: 550px
      height: 66px
      background: grey

    
    .donate-title
      span:not(:last-child):after
        content: '|'
    .bitcoin-message
      font-style: italic
    img
      float: left
      width: 66px
      height: 66px
      margin-right: 5px

  .dev-info
    position: absolute
    top: 0px
    right: 0px
    padding-right: 5px
    text-align: right

.table
  margin: auto
    bottom: 20px
  white-space: nowrap
  border-spacing: 0px
  background-color: $tableColor

  thead
    background-color: $tableHeaderColor
    text-transform: uppercase

  // This has bad performance, so fuck it.
  // tbody tr:hover
  //  background-color: rgba(#679FAD, 0.5)
  //  & > td
  //    background-color: transparent

  // Super table with border radius and alpha borders
  // Unnecessary? Overkill? YES.
  $borderWidth: 1px
  $borderRadius: 5px
  td, th
    border: solid 0px rgba(#000, 0.15)
    border-right-width: $borderWidth
    // border-bottom-width: $borderWidth
    &:first-child
      border-left-width: $borderWidth
  tr:first-child > th
    border-top-width: $borderWidth
  tr:nth-of-type(odd)
    td
      background-color: #CECECE //rgba(#000, 0.1)
      border-color: #C2C2C2 //rgba(#000, 0.05) // Table cell borders are always inside backgound
    th
      background-color: #5C8E9B
      border-color: #578693
  // Border radius
  &
    border-radius: $borderRadius
    overflow: hidden // Slightly uglier radius, x10 better selectors!
  // tr:first-child 
  //  & > th:first-child
  //    border-top-left-radius: $borderRadius
  //  & > th:last-child
  //    border-top-right-radius: $borderRadius  
  // tr:last-child 
  //  & > td:first-child
  //    border-bottom-left-radius: $borderRadius
  //  & > td:last-child
  //    border-bottom-right-radius: $borderRadius

  $tdPaddingV: 5px
  $tdPaddingH: 8px
  $tdLineHeight: 20px
  td
    padding: $tdPaddingV $tdPaddingH ($tdPaddingV - 1) $tdPaddingH
    line-height: $tdLineHeight


  .header-titles th
    padding: 8px
    cursor: pointer
    &:after
      // content: ' ▲'
      display: inline-block
      margin-bottom: -3px
      margin-left: 5px
      vertical-align: bottom
      -webkit-transform: scaleY(0.5)

    &.ascending:after
      content: ' ▲'

    &.descending:after
      content: ' ▼'

  .header-filters th
    padding: 8px

  td.cropped-column
    position: relative
    overflow: hidden
    min-width: 250px
    &:hover
      overflow: visible
      z-index: 999
    &.tags-cell
      .column-cropper
        left: $tdPaddingV
  .column-cropper
    position: absolute
    top: $tdPaddingV
    bottom: $tdPaddingV
    left: $tdPaddingH
    background-color: $tableColor
  tr:nth-of-type(odd) td .column-cropper
    background-color: #CECECE

  .reviews-distribution-cell
    padding: 5px
    text-align: center
  .reviews-distribution
    display: inline-block
    width: 100px
    height: 8px
    background: red
  .positive-reviews-percentage
    height: 100%
    background: green

  .tag
    display: inline-block
    padding: 2px
    border-radius: 2px
    background: $terciaryColor
    color: $invertedFontColor
    font-size: 12px
    line-height: $tdLineHeight - 2px - 2px
    vertical-align: top
    cursor: pointer
    &.highlighted
      background-color: #AD6767

    
// Inputs

input, select
  border: solid 1px rgba(#000, 0.1)
  padding: 5px
input
  border-radius: 2px
select:first-child
  border-radius: 2px 0px 0px 2px
  border-right: none
select:last-child
  border-radius: 0px 2px 2px 0px

.number-filter-value-start:after
  content: 'Min'

.number-filter-value-start, .number-filter-value-end
  &.placeholdered
    color: #999
    option
      color: initial

select
  width: 70px