.flag {
    background-image: url(asset_path('flags-sprites.png'));
    background-repeat: no-repeat;
}

.flag-achievements {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.flag-captions {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.flag-cards {
    width: 20px;
    height: 20px;
    background-position: -65px -5px;
}

.flag-cloud {
    width: 20px;
    height: 20px;
    background-position: -95px -5px;
}

.flag-coOp {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}

.flag-commentary {
    width: 20px;
    height: 20px;
    background-position: -35px -35px;
}

.flag-controller {
    width: 20px;
    height: 20px;
    background-position: -65px -35px;
}

.flag-leaderboards {
    width: 20px;
    height: 20px;
    background-position: -95px -35px;
}

.flag-levelEditor {
    width: 20px;
    height: 20px;
    background-position: -5px -65px;
}

.flag-linux {
    width: 20px;
    height: 20px;
    background-position: -35px -65px;
}

.flag-mac {
    width: 20px;
    height: 20px;
    background-position: -65px -65px;
}

.flag-multiPlayer {
    width: 20px;
    height: 20px;
    background-position: -95px -65px;
}

.flag-partialController {
    width: 20px;
    height: 20px;
    background-position: -5px -95px;
}

.flag-singlePlayer {
    width: 20px;
    height: 20px;
    background-position: -35px -95px;
}

.flag-stats {
    width: 20px;
    height: 20px;
    background-position: -65px -95px;
}

.flag-vac {
    width: 20px;
    height: 20px;
    background-position: -95px -95px;
}

.flag-vr {
    width: 20px;
    height: 20px;
    background-position: -125px -5px;
}

.flag-win {
    width: 20px;
    height: 20px;
    background-position: -125px -35px;
}

.flag-workshop {
    width: 20px;
    height: 20px;
    background-position: -125px -65px;
}
