.number-filter-value-start, .number-filter-value-end
  &.placeholdered
    color: #999
    option
      color: initial

.header-filters
  input, select
    border: solid 1px rgba(#000, 0.1)
    padding: 5px
  input
    border-radius: 2px
    width: 100%
  select
    +appearance(none)
    min-width: 30px 
    width: 50%

    &:first-child
      border-radius: 2px 0px 0px 2px
      border-right: none
    &:last-child
      border-radius: 0px 2px 2px 0px