td.cropped-column
  padding: 0px
  min-width: 250px
  vertical-align: top
  &.tags-cell
    .column-cropper
      left: $tdPaddingV
.column-cropper-wrapper
  position: relative
  width: 100%
  height: 28px
  overflow: hidden

  &:hover
    overflow: visible
    z-index: 999
.column-cropper
  position: absolute
  top: $tdPaddingV
  bottom: $tdPaddingV
  left: $tdPaddingH
  background-color: $tableColor
tr:nth-of-type(odd) td .column-cropper
  background-color: #CECECE

.reviews-distribution-cell
  padding: 5px
  text-align: center
.reviews-distribution
  display: inline-block
  width: 100%
  height: 8px
  background: red
.positive-reviews-percentage
  height: 100%
  background: green

.tag
  display: inline-block
  padding: 2px
  border-radius: 2px
  background: $terciaryColor
  color: $invertedFontColor
  font-size: 12px
  line-height: $tdLineHeight - 2px - 2px
  vertical-align: top
  cursor: pointer
  &.highlighted
    background-color: #AD6767

.filter-flag-input
  display: none
  &:checked + .filter-flag
    opacity: 1

.filter-flag
  opacity: 0.25

.flag, .filter-flag
  display: inline-block
  overflow: hidden
  width: 20px
  height: 20px
  background-size: 20px
  background-position: center
  background-repeat: no-repeat
  text-indent: -9999px

  &.disabled
    opacity: 0.25

  $flagsList: win mac linux achievements captions cards commentary controller leaderboards levelEditor multiPlayer partialController stats vac vr workshop cloud coOp singlePlayer
  @each $flag in $flagsList
    &.flag-#{$flag}, &.filter-flag-#{$flag}
      background-image: url(asset-path("flags/#{$flag}.png"))
