<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        {% stylesheet app %}
    </head>
    <body>
      <main class="main">
        <header class="header">Playtime For The Buck</header>
        <table class="table">
          <thead>
            <tr sorters-container class="header-titles">
              <th sort="name">Name</th>
              <th sort="launch_date">Launch date</th>
              <th sort="price">Price</th>
              <th sort="sale_price">Sale price</th>
              <th sort="average_time">Playtime</th>
              <th sort="average_time_positive" class="hidden">Positive playtime</th>
              <th sort="average_time_negative" class="hidden">Negative playtime</th>
              <th sort="averageTimeOverPrice" >Playtime/Price</th>
              <th sort="positive_reviews" class="hidden">Positive reviews</th>
              <th sort="negative_reviews" class="hidden">Negative reviews</th>
              <th sort="totalReviews">Total reviews</th>
              <th sort="meta_score">Metascore</th>
              <th sort="">Average reviews</th>
              <th sort="">Playtime centiles</th>
              <th sort="max_time" class="hidden">Maximum playtime</th>
              <th sort="min_time" class="hidden">Minimum playtime</th>
              <th sort="game_updated_at" class="hidden" title="Date this data was last updated">Data date</th>
            </tr>
            <tr filters-container class="header-filters">
              <th filter="name" text-filter><input/></th>
              <th filter="launch_date" number-filter number-filter-date></th>
              <th filter="price" number-filter filter-options="0 Free,0 0+,1,3,5,10,15,20,30,40,50,70,100"></th>
              <th filter="sale_price" number-filter></th>
              <th filter="average_time" number-filter number-filter-reverse></th>
              <th filter="average_time_positive" number-filter number-filter-reverse class="hidden"></th>
              <th filter="average_time_negative" number-filter number-filter-reverse class="hidden"></th>
              <th filter="averageTimeOverPrice" number-filter number-filter-reverse></th>
              <th filter="positive_reviews" number-filter class="hidden"></th>
              <th filter="negative_reviews" number-filter class="hidden"></th>
              <th filter="totalReviews" number-filter></th>
              <th filter="meta_score" number-filter></th>
              <th filter="" number-filter></th>
              <th filter="" number-filter></th>
              <th filter="max_time" number-filter number-filter-reverse class="hidden"></th>
              <th filter="min_time" number-filter number-filter-reverse class="hidden"></th>
              <th filter="game_updated_at" number-filter number-filter-date class="hidden" title="Date this data was last updated">
              </th>
            </tr>
          </thead>
          <tbody games-container></tbody>
        </table>
      </main>
      {{ content }}
      {% javascript app %}
    </body>
</html>
